#resource-header {
    width: 80%;
    height: 100px;
    margin-left: 9.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

#resource-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 22px;

    border-radius: 16px 16px 0px 0px;
}

.resource-card {
    width: 80%;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    transition: transform 0.2s ease;
}

.resource-card:hover {
    transform: scale(1.02);
}

.resource-card > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.resource-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow {
    height: 10px;
    transition: 0.3s ease;
}

div:hover > .right-arrow {
    height: 12px;
}

#suggestions-box {
    height: 76px;
    width: 90%;
    background: #A5E5CC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px
}